* {
    margin: 0;
    padding: 0;
    transition: all .4s;
}

body {
    text-align: center;
    background: black;
}

/*镜像*/

.mirror {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

video {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#buttonList {
    position: fixed;
    z-index: 3;
    background: transparent;
    display: flex;
    width: 100%;
    bottom: 0;
    flex-direction: row;
    /* 这因该是以上方向上的对齐方式 */
    justify-content: center;
    /* space-evenly */
}

#buttonList button {
    font-size: 16px;
    width: 130px;
    height: 70px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    /* border-radius: 4px; */
    /* 取消按钮的默认样式 */
    border-width: 0;
}

#buttonList button:hover {
    color: black;
    background: rgba(255, 255, 255, 0.5);
}

canvas {
    display: none;
}

/* 被光标选中的文本.... */

::selection {
    background-color: transparent;
}


aside{
    position: fixed;
    height: 100%;
    top: 0;
    right: -30%;
    width: 30%;
    z-index: 2;
    background: rgba(255, 255, 255, 0.5);
    padding: 15px 0;
    font-family: serif;
}

aside input{
    /* display: block; */
    width: 85%;
    margin: 15px 20px;
}

aside span{
    display: block;
}